footer{
    background-color:map-get($map: $background_color, $key:background_footer ) ;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: $white;
    & h2{
         font-family: map-get($map: $font_family, $key:logo_headmenu ), cursive;
         font-size: map-get($map: $font_size, $key:footer_title );
         @media screen and (max-width:map-get($map: $breakpoint, $key:mobile )) {
            margin-bottom: 10px;
        }
        @media screen and (min-width:map-get($map: $breakpoint, $key: mobile)){
            text-align: center;
        }
    }
    @include mobile-only;
    & .footer__list{
        @include flex_row;
        padding-left: 0px;
        @include mobile-only;
        & li {
            margin-bottom: 15px;
        }
        & a {
            color: $white;
            font-size: map-get($map: $font_size, $key: litle );
            @media screen and (max-width:map-get($map: $breakpoint, $key:mobile )) {
                margin-top: 15px;
            }
        }
        & i {
            margin-right: 12px;
        }
    }
}