.btn{
    background: map-get($map: $gradiant, $key:btn );
    padding: 20px 22px;
    border-radius: 25px;
    border: none;
    box-shadow: map-get($map: $box_shadow, $key:shadow_element );
    & a{
        color: $white;
        font-size: map-get($map: $font_size, $key: litle );
    }
}