body{
    font-family: map-get($map: $font_family, $key: main_font ), sans-serif;
    margin: auto;
    justify-content: center;
    & li {
        list-style: none;
    }
}
a {
    text-decoration: none;
}