//map//
#head__localisation{
    background-color: map-get($map: $background_color, $key:home_map );
    padding: 25px 0px;
    text-align: center;
    color: map-get($map: $color_line, $key:color_map_line );
    font-size: map-get($map: $font-size, $key:litle );
        & i {
            margin-right: 18px;
        }
}
.desc_site{
    text-align: center;
    background-color: map-get($map: $background_color, $key:background_element );
    padding: map-get($map: $padding_contain, $key: padding_off );
        &__heading {
            margin-top: 0px;
            margin-bottom: 22px;
        }
        &__byline{
            margin-bottom: 34px;
        }
}
.howto{
        @include flex_column;
        padding: map-get($map: $padding_contain, $key:padding_on );
        @media  screen and (min-width: map-get($breakpoint, desktop)) {
           align-items: center;
        }
    &__list{
        @include flex_column;
        padding-left: 17px;
        @media  screen and (min-width: map-get($breakpoint, desktop)) {
            width: 50%;
        }
    }
    & li {
        display: flex;
        flex-direction: row;
        background-color: map-get($map: $background_color, $key:background_element );
        margin-bottom: 24px;
        border-radius: $border-radius_total;
        box-shadow: map-get($map: $box_shadow, $key:shadow_element );
        padding: 32px 0px;
        align-items: center;
        font-weight: bold;
        font-size: map-get($map: $font_size, $key: litle );  
        &:hover {
            background-color: pastel($color_secondary);
            & i{
                color: $color_primary;
            }
        }       
    }
    &   i {
        margin-right: 28px;
        color: $color_icon_howto;
    }
    &__num {
        background-color: $color_primary;
        border-radius: $border-radius_circle;
        padding: 6px 10px;
        color: $white;
        position: relative;
        left: -15px;
        margin-right: 10px;
    }    
}
.rest {
    @include flex_column;
    padding: map-get($map: $padding_contain, $key: padding_on );
    background-color: map-get($map: $background_color, $key: background_element );
    &__heading{
        font-size: map-get($map: $font_size, $key: title );
    }
    &__contain{
        @include flex_row;
        @include mobile-only;
    }
    &__card{
        position: relative;
        text-decoration: none;
        margin-bottom: 20px;
        padding-bottom: 20px;
        background-color: map-get($map: $background_color, $key: background_card );
        box-shadow: map-get($map: $box_shadow, $key: shadow_element);
        border-radius: $border-radius_total;
        @include desktop-only;
        z-index: 10;
    }
    &__img > img{
        max-height: 175px;
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        @include border-radius_half;
    } 
    &__new {
        position: absolute;
        right: 11px;
        top: 13px;
        background-color: $color_tertiary;
        color: darker($color_tertiary);
        padding: 9px 12px;
        z-index: 1;
    }
    &__caption{
        padding:0px 15px;
        @include flex_row;
        &__heading{
            margin: 19px 0px 5px;
            font-size: map-get($map: $font_size, $key: litle);
            color: $black;
            font-weight: bold;
        }
        &__byline{
            font-size: map-get($map: $font_size, $key: very_litle);
            color: $black;
            margin: 0px;
        }
        
    }
}