@function pastel ($clr){
    $hue:hue($clr);
    $sat:100%;
    $light: 96.47%;
    $pastel:hsl($hue,$sat,$light);
    @return $pastel;
}
@function darker ($clr){
    $hue:hue($clr);
    $sat:100%;
    $light: 26.25%;
    $darker:hsl($hue,$sat,$light);
    @return $darker;
}
@keyframes fill_heart{
    0% {
        background-size: 100% 0%;
      }
      100% {
        background-size: 100% 100%;
      }
}
@keyframes loading_spinner{
  0% {
    opacity: 100%;
    z-index: 9999;
  }
  100%{
    opacity: 0%;
  }
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes slide_left {
  0%{
    transform:translateX(100%) ;
  }
  100%{
    transform: translateX(0%) ;
  }
}
