$color_primary: #9356DC;
$color_secondary: #FF79DA ;
$color_tertiary: #99E2D0;
$color_shadow:#eaeaea;
$shadow_darker:#bbbbbb;
$color_icon_howto:#7e7e7e;
$color_icon_back:#353535;
$white: white;
$black: black;
$border-radius_total: 25px;
$border-radius_circle:50%;
$box_shadow: (
    shadow_header:5px 5px 5px 0px $color_shadow,
    shadow_element:5px 5px 5px 0px $color_shadow,
    shadow_hover:5px 5px 5px 0px $shadow_darker
);
$background_color: (
    home_map:#eaeaea,
    background_element:#f6f6f6,
    background_card:white,
    background_footer:#353535
);
$color_line:(
    color_map_line:#353535,
    color_footer: $white
);
$font-size:(
    title: 2rem,
    menu_title:1.3rem,
    litle: 1rem,
    very_litle:0.8rem,
    commentary:0.6rem,
    footer_title:1.5rem,
    back_arrow:1.5rem
);
$breakpoint:(
    mobile:414px,
    tablette:834px,
    desktop:1366px
);
$padding_contain:(
    padding_on: 60px 20px,
    padding_off: 60px 0px
);
$gradiant:(
    btn:linear-gradient($color_secondary, $color_primary),
    heart:-webkit-linear-gradient($color_primary, $color_secondary)
);
$font_family:(
    main_font:'Roboto',
    logo_headmenu:'shrikhand'
);